.container {
    width: 970px;
    background-color: rgb(35,81,116);
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}

.header {
    display: inline-block;
}

.header h5 {
    margin: -10px 0px -20px 0px;
}

.headerTop {
    font-weight: lighter;
    color: white;
    text-align: right;
    margin-top: 10px;
    margin-right: 30px; 
}

.headerBottom {
    display: inline-block;
    vertical-align: top;
}

.logo {
    display: inline-block;
    height: 100px;
    width: 300px;
    padding: 0;
}

.search {
    display: inline-block;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    border: 20px solid black;
    margin-left: 400px;
    margin-top: 20px;
    vertical-align: top;
    background-color: black;
}
input {
    height: 25px;
    border: 1px solid rgb(193,193,193);
}
.search button {
    height: 32px;
    text-align: center;
    background-color: rgb(38,81,116);
    border-radius: 5px;
    padding-left: 5px;
}

.middle {
    height: 50px;
    width: 100%;
}

#navBar {
    height: 100%;
    width: 90%;
    background: rgb(74, 127, 171);
    margin-left: 42px;
    border-radius: 5px;
    box-shadow: 3px 3px black; 
}

#navBar h3 {
    color: white;
    display: inline-block;
    margin-left: 56px;
    line-height: 100%;
    font-size: 17px;
}

#links {
    display: inline-block;
    width: 33%;
    color: rgb(235, 199, 71);
    text-align: center;
    vertical-align: top;
    line-height: .8em;
}

#links li {
    padding-bottom: 15px;
}

#links a {
    color: white;
}

#links ul {
    list-style-position: inside;
}

#rightSide {
    display: inline-block;
    width: 60%;
    text-align: center;
}

#rightSide p {
    color: white;
}

#rightSide h4 {
    color: rgb(250, 208, 68);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    font-size: 22px;
    font-style: italic;
}

.bottom {
    display: inline-block;
    width: 100%;
    height: 60px;
}

.botInfo {
    display: inline-block;
    width: 40%;
    border-top: 5px solid rgb(114,168,209);
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: top;
}

li {
    text-align: center;
}

.botList a {
    color: rgb(114,168,209);
}

.footer {
    width=100%;
    display: block;
    text-align: center;
    background: rgb(35,81,116);
    color: rgb(114,168,209);
    padding-top: 30px;
    padding-bottom: 10px;
}

#botNav span {
    padding: 40px;
}

#botNav a {
    font-size: 1.2em;
    color: rgb(114,168,209);
}

#copyright {
    font-size: .8em;
    margin-bottom: 0;
    vertical-align: bottom;
}

.blueText {
    color: rgb(114,168,209);
}

#search {
    text-align: center;
}
